body {
  margin: 0;
  overflow-x: hidden;
}

/* Logo del navbar */
.logo {
    background-color: #0000CA;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Navbar*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

nav {
    display: flex;
    gap: 48px;
}

nav a {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;          
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: none;

    
    transition: color .25s ease, opacity .25s ease, text-decoration-color .25s ease;
}


nav a:hover {
    color: #00F3BB;
}

nav a:active {
    opacity: .55;
}


nav a.is-active {
    opacity: .55;
    text-decoration: line-through;
    text-decoration-thickness: 1px; 
}



/*texto principal*/

.texto-bio h1 {
    font-family: 'IMB Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 80px;
    margin-bottom: 10px;
}
.texto-bio {
    padding: 30px;
    margin-left: 120px;
}

.tachado {
    text-decoration: line-through;
}

.punto {
    color: #0000CA;
}

.parrafo-bio {
    font-family: 'IBM Plex Mono', monospace;
    max-width: 620px; 
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
}

.boton{
    display: inline-block;
    padding: 16px 60px;
    font-weight: 700;
    color: black;
    background-color: #00F3BB;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton:hover {
   background: linear-gradient(90deg,rgba(0, 243, 187, 1) 0%, rgba(2, 218, 185, 1) 0%, rgba(21, 21, 171, 1) 91%);
    color: white;
}

/*Episodios*/

#episodios {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  color: #fff;
  /* mantiene tu padding y recorte diagonal */
  padding: 140px 40px;
  clip-path: polygon(0 20%, 100% 0, 100% 89%, 0 100%);
  width: 100%;
  z-index: 1;
}

#episodios h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 300;
  margin-bottom: 40px;
  text-align: left;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.episodios-contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
}


.episodio iframe {
  width: 100%;
  border-radius: 12px;
  height: 152px;
  border: 0;
}

/* Secci贸n de Nosotros */
.nosotros-origen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 120px 40px;
  background: #fff;
  position: relative; 
  z-index: 2;         
}


.imagen-origen img {
  width: 320px;
  max-width: 100%;
  height: auto;

  position: relative;  
  z-index: 5;          
  margin-top: -185px;   
}


.texto-nosotros {
  flex: 1;
  max-width: 500px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #060A24;
}

.texto-nosotros h2 {
  font-family: 'IBM Plex Sans', sans-serif;  
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #060A24;
  margin-top: -190px;
}

.texto-nosotros p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
}

/*Entrevistas*/

.invitados-texto{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #060A24;
  letter-spacing: 0;
  text-align: left;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-entrevistas {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 0;
}

.invitados img {
    display: block;
  width: 100%;   
  height: auto;  
}

/*Topicos*/

.texto-temas{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #060A24;
  letter-spacing: 0;
  text-align: left;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-temas {
  display: flex;
  justify-content: center; 
  gap: 40px;               
}

.parrafo-temas {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700; 
}

.tema {
  display: flex;
  flex-direction: column;   
  align-items: center;     
  text-align: center;       
}

.tema img {
  width: 60px;   
  height: 60px;
  margin-bottom: 10px; 
}

/*Novedades*/

.titulo-novedades {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400; 
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}

.conoce-mas {
    text-align: center;
    background-image: linear-gradient(0deg, #0000FF 0%, #0000A3 100%);
    color: #fff;
    padding: 120px 80px;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
}

.boton-episodios{
    display: inline-block;
    padding: 12px 32px;
    font-weight: 700;
    color: black;
    background-color: #00F3BB;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton-episodios:hover  {
   background: linear-gradient(90deg,rgba(0, 243, 187, 1) 0%, rgba(2, 218, 185, 1) 0%, rgba(21, 21, 171, 1) 91%);
    color: white;
}

/*Footer con Redes sociales*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px; 
  background-color: #fff;
}

.footer-texto {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: #060A24;
  margin: 0; 
}

.redes-sociales {
  display: flex;
  gap: 24px; 
}

.redes-sociales a img {
  width: 24px;
  height: 24px;
  display: block;
}

/*Navbar responsivo*/
.menu-hamburguesa {
  display: none;
}

/* cono hamburguesa */
.menu-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("images/menu/icono-menu.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
}

/* cono cerrar */
.menu-hamburguesa:checked + .menu-icon {
  background: url("images/menu/icono-cerrar.svg") no-repeat center;
  background-size: contain;
}

/* NAV oculto en mobile */
nav {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 60px;
  right: 0;
  background: #0000EC;
  width: 320px;
  height: 224px;
  padding: 20px;
  box-sizing: border-box;
}

/* NAV abierto en mobile */
.menu-hamburguesa:checked ~ nav {
  display: flex;
}

/* Links mobile */
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: block;
  width: 100%;
}

@media (max-width: 767px) {
  .episodios-contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
  }
}

/* Desktop */
@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    position: static;
    gap: 48px;
    background: none;
    width: auto;
    height: auto;
    padding: 0;
  }

  nav a {
    color: #060A24;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .texto-bio {
    margin-left: 0;       /* Quita margen lateral */
    padding: 20px;    
    line-height: 1.2;    /* M谩s c贸modo en pantallas chicas */
    text-align: left; 
    margin-top: 100px;    /* Mantiene alineaci贸n */
  }

  .texto-bio h1 {
    font-size: 45px;
    max-width: 300px;
  }

  .parrafo-bio {
    font-size: 14px;
    line-height: 20px;
  }

  .boton {
    display: block;
    width: 100%;          /* Bot贸n ancho completo */
    text-align: center;
    padding: 14px 0;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  #episodios {
    padding: 80px 20px; /* menos padding en pantallas chicas */
    clip-path: polygon(0 10%, 100% 0, 100% 95%, 0 100%); /*  menos inclinaci贸n */
  }
}